<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cvte.vslam.facelib">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true">
        <activity android:name=".ui.FaceDetectorActivity" />
        <activity android:name=".ui.FaceRecognizerActivity" />
    </application>
</manifest>